# Dependencies
node_modules/

# Build outputs
build/
dist/
*.tsbuildinfo

# Logs & Debugging
*.log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Environment variables & secrets
.env
.env.local
.env.*.local
!.env.example

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

